<!--printing out the store information  -->
<h1>Confirmation Page</h1>
<br>Name :<%=@user.name%>
<br>Address :<%=@user.address%>
<br>City :<%=@user.city%>
<br>State :<%=@user.state%>
<br>Postal Code :<%=@user.postalcode%>
<br>Country :<%=@user.country%>
<br>Email :<%=@user.email%>
<br>User ID :<%=@user.username%>
<br>Password :<%=@user.password%>
